body {
    margin: 0;
    padding:0;
}
table {
    margin: auto;
    border: 2px solid #919bbe;
    border-collapse: separate;
    width: 70%;
    background: #e8edff;
}
input[type=submit] {
    padding:5px 15px;
    background: #f3f3f3;
    margin-left: 5px;
    border:0 none;
    height: 26px;
    cursor:pointer;
    border-radius: 3px;
}
input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    height: 24px;
    width: 120px;
    color: #000000;
    font-size: 11px;
}
.formul {
    background:#d7d7fd;
    text-align: center;
    font-size: 120%;
    padding: 10px 15px;
}
.cent{
    padding-top: 50px;
    text-align: center;
    font-size: 110%;
}
tr.zg{
    text-align: center;
    background: #d7d7fd;
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
th {
    text-align: center;
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}
td {
    text-align: center;
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
tr:nth-child(2n) {background: #ffffff;}
tr:hover { background-color: #E0E0FF; }